<nav class="bg-black">
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-grow items-center">
          <img class="rounded-full w-8 h-8" src="https://avatars.githubusercontent.com/u/74664373?v=4 " alt="Your Company">
          <span class="text-white mx-3">Carlos Beltran</span>
        </div>
        @for (item of menuWebsite; track $index) {
            <div 
            class="hidden sm:ml-6 sm:block">
                <div class="space-x-4">
                  <a
                    [routerLink]="item.path"
                    routerLinkActive="bg-blue-500"
                    class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">{{item.title}}</a>
                </div>
              </div>
        }
    </div>
  </div>
</nav> 