

.animated-text span {
    position: relative;
}

.animated-text span::before{
    content: 'Desarrollador';
    animation: words 20s infinite;
}
 

@keyframes cursor {
    to {
        border-left: 2px solid purple ;
    }
}

@keyframes words {
    0%, 20% {
        content: 'Desarrollador';
    }
    21%, 40% {
        content: 'Frontend';
    }
    41%, 60% {
        content: 'Bakend';
    }
    61%, 80% {
        content: 'Curioso';
    }
    81%, 100% {
        content: 'Autodidacta';
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    }
}

